# dependencies
node_modules/
.next/
out/
build/
dist/
artifacts/
cache/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
deploy_log.txt
final_deploy.txt

# OS files
.DS_Store
Thumbs.db
